<!DOCTYPE html >
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <title>日历</title>
    <link href="<%$smarty.const.WEUI_URL%>/datepicker.css?v=01.01.38" rel="stylesheet"/>
    <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/weui.min.css">
    <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/jquery-weui.css">
    <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/demos.css?v=01.01.07">
<body>
<div>
<!--<input style="width: 124px" location="right" class="calendar_btn" name="calendar" readonly="readonly"-->
<!--onclick="showCalendar(this,'232');" placeholder="酒店价格日历"/>-->

    <!--<div style="width: 100%;background-color: black;height: 20px">-->
    <div style="position: absolute;margin-top: 30px;width: 100%" class="demos-title" id="title">
        2
    </div>


</div>

<div class="weui-tab" >
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">


        </div>
        <div class="weui-tabbar">
            <a href="<%$smarty.const.__APP__%>/devselect/select" class="weui-tabbar__item weui-bar__item--on">

                <div class="weui-tabbar__icon">
                    <img src="<%$smarty.const.IMG_URL%>/icon_nav_button.png" alt="">
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="<%$smarty.const.__APP__%>/add/deviceTab" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="<%$smarty.const.IMG_URL%>/icon_nav_msg.png" alt="">
                </div>
                <p class="weui-tabbar__label">设备</p>
            </a>
            <a href="<%$smarty.const.__APP__%>/acadd/acTab" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="<%$smarty.const.IMG_URL%>/icon_nav_article.png" alt="">
                </div>
                <p class="weui-tabbar__label">温度</p>
            </a>
            <a href="<%$smarty.const.__APP__%>/mine/mineTab" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="<%$smarty.const.IMG_URL%>/icon_nav_cell.png" alt="">
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>
</div>


</body>
    <script src="<%$smarty.const.AJS_URL%>jquery-3.2.1.min.js"></script>
    <script src="<%$smarty.const.AJS_URL%>zlDate.js?v=01.01.22"></script>
    <script>
        function showCalendar() {
            var ret = '<%$data%>';
            var json = JSON.parse(ret);

          //  console.log(ret,json);
            pickerEvent.setPriceArr(json);
            pickerEvent.Init(this);
        }
        var devid;
        $(document).ready(function() {

            showCalendar(this);
            var C1=window.location.href.split("?")[1];
             devid= C1.split("=")[1];

          //  console.log(devid);
            var devStr = '设备号: '+devid

             document.getElementById("title").innerHTML=devStr;
            // document.getElementById("uptime").value=uptime;

        });
        function changePrice(date,price ) {
           // console.log(date,price,devid);
            if (price!=-9999){
                window.location.href = '<%$smarty.const.__APP__%>/Value/todayValue?devid='+devid+'&date='+date;
            }

        };
        function postMonthData(date) {
        var month = date.slice(0,7);
            console.log(month)
            window.location.href = '<%$smarty.const.__APP__%>/Value/monthValue?devid='+devid+'&date='+month;

        }
    </script>
</head>


</html>
