<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>saveinfo</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/weui.min.css">
  <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/jquery-weui.css">
  <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/demos.css?v=01.01.04">
</head>
<body>

<div class="weui-tab">
  <div class="weui-tab__bd">
    <div id="tab2" class="weui-tab__bd-item weui-tab__bd-item--active">

  <form class="form-horizontal" name="f1"   id="form1"   action=""   method="post" >
    <div class="weui-cells weui-cells_form" >
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">设备ID</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" name="devid"  placeholder="请输入设备ID号" required="">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">情况</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" name="state"  placeholder="请输入情况">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">生产次数</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" name="s_count"  placeholder="请输入生产次数">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">RFID</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" name="rid"  placeholder="请输入RFID">
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">年龄</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" name="age"  placeholder="请输入年龄">
        </div>
      </div>

    </div>
    <div class="weui-btn-area">
      <button class="weui-btn weui-btn_primary" type="submit">修改</button>
    </div>

  </form>
    </div>

</div>
<div class="weui-tabbar">
  <a href="<%$smarty.const.__APP__%>/devselect/select" class="weui-tabbar__item ">

    <div class="weui-tabbar__icon">
      <img src="<%$smarty.const.IMG_URL%>/icon_nav_button.png" alt="">
    </div>
    <p class="weui-tabbar__label">首页</p>
  </a>
  <a href="<%$smarty.const.__APP__%>/add/deviceTab" class="weui-tabbar__item weui-bar__item--on">
    <div class="weui-tabbar__icon">
      <img src="<%$smarty.const.IMG_URL%>/icon_nav_msg.png" alt="">
    </div>
    <p class="weui-tabbar__label">设备</p>
  </a>
  <a href="<%$smarty.const.__APP__%>/acadd/acTab" class="weui-tabbar__item">
    <div class="weui-tabbar__icon">
      <img src="<%$smarty.const.IMG_URL%>/icon_nav_article.png" alt="">
    </div>
    <p class="weui-tabbar__label">温度</p>
  </a>
  <a href="<%$smarty.const.__APP__%>/mine/mineTab" class="weui-tabbar__item">
    <div class="weui-tabbar__icon">
      <img src="<%$smarty.const.IMG_URL%>/icon_nav_cell.png" alt="">
    </div>
    <p class="weui-tabbar__label">我的</p>
  </a>
</div>
</div>
<script src="<%$smarty.const.AJS_URL%>jquery-2.1.4.js"></script>
<script src="<%$smarty.const.AJS_URL%>jquery-weui.js"></script>
<script src="<%$smarty.const.AJS_URL%>fastclick.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
    var ret = "<%$ret%>";


    if(ret=="10000006"){
        $.toptip('修改成功', 'success');
        setTimeout(function() {
            // window.history.back(-2);
            window.location.href = '<%$smarty.const.__APP__%>/add/deviceTab';

        }, 1000)

    }
    if(ret=="10000007"){
        $.toptip('修改失败', 'error');
    }
    if(ret=="11000001"){
        $.toptip('请填写正确的设备id', 'error');
    }
    if(ret=="11000002"){
        $.toptip('请填写正确的情况', 'error');
    }
    if(ret=="11000003"){
        $.toptip('请填写正确的生产次数', 'error');
    }if(ret=="11000004"){
        $.toptip('请填写正确的年龄', 'error');
    }


</script>
</body>
</html>