<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>select</title>
	<script src="<%$smarty.const.AJS_URL%>jquery-2.1.4/jquery.min.js"></script>
	
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<!--<link rel="stylesheet" href="<%$smarty.const.ABOOT_URL%>css/bootstrapone.css">-->
	<link rel="stylesheet" href="<%$smarty.const.ABOOT_URL%>css/bootstrap.css">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="<%$smarty.const.ABOOT_URL%>js/bootstrap.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/weui.min.css">
  <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/jquery-weui.css">
  <link rel="stylesheet" href="<%$smarty.const.WEUI_URL%>/demos.css?v=01.01.04">


<style>
  b {color: #23527C;}
</style>
</head>
<body>
<div class="header">
  <!--<div class="container" >-->
  <!--<div class="navbar navbar-default navbar-fixed-left" >-->
    <!--<ul class="nav navbar-nav">-->
      <!--<li><a href="<%$smarty.const.__APP__%>/devselect/select"><b >首页</b></a></li>-->
      <!--<li><a href="<%$smarty.const.__APP__%>/add/add"><b>添加设备</b></a></li>-->
      <!--<li><a href="<%$smarty.const.__APP__%>/add/move"><b>移动设备</b></a></li>-->
      <!--<li><a href="<%$smarty.const.__APP__%>/add/saveinfo"><b>修改设备信息</b></a></li>-->
      <!--<li class="active"><a href="<%$smarty.const.__APP__%>/add/select"><b>查询设备信息</b></a></li>-->
      <!--&lt;!&ndash;<li><a href="<%$smarty.const.__APP__%>/acadd/add"><b>温度输入</b></a></li>&ndash;&gt;-->
      <!--<li><a href="<%$smarty.const.__APP__%>/acadd/select"><b>查询温度情况</b></a></li>-->
      <!--&lt;!&ndash;<li><a href="<%$smarty.const.__APP__%>/acadd/save"><b>修改温度记录</b></a></li>&ndash;&gt;-->
      <!--<li><a href="<%$smarty.const.__APP__%>/acadd/delete"><b>删除温度记录</b></a></li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--</div>-->

<div class="container">


  <!--<form class="form-horizontal" name="f1" id="form1"    action=""   method="post" >-->
    <!--<div class="weui-cells weui-cells_form" >-->
      <!--<div class="weui-cell">-->
        <!--<div class="weui-cell__hd"><label class="weui-label">设备ID</label></div>-->
        <!--<div class="weui-cell__bd">-->
          <!--<input class="weui-input" type="text" name="devid"  placeholder="请输入设备ID号">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="weui-cell">-->
        <!--<div class="weui-cell__hd"><label class="weui-label">栅</label></div>-->
        <!--<div class="weui-cell__bd">-->
          <!--<input class="weui-input" type="text" name="shed"  placeholder="请输入多少栅">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="weui-cell">-->
        <!--<div class="weui-cell__hd"><label class="weui-label">栏</label></div>-->
        <!--<div class="weui-cell__bd">-->
          <!--<input class="weui-input" type="text" name="column"  placeholder="请输入多少栏">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="weui-btn-area">-->
      <!--<button class="weui-btn weui-btn_primary" type="submit">查询</button>-->
    <!--</div>-->
  <!--</form>-->
  <form class="form-horizontal" name="f1"   id="form1"   action=""   method="post" >
    <fieldset>
      <div class="control-group" >
        <label class="control-label" >DEVID</label>
        <div class="controls">
          <input name="devid"  type="text">

        </div>

        <div class="control-group" >
          <label class="control-label" >棚</label>
          <div class="controls">
            <input name="shed"  type="text">
          </div>

          <div class="control-group" >
            <label class="control-label" >栏</label>
            <div class="controls">
              <input name="column"  type="text">
            </div>

    </fieldset>
    <div class="form-actions" style="margin-top: 10px">
      <button type="submit" class="btn btn-primary">查询</button>
    </div>
  </form>

 </div>
    <div class="container">
     <%if !empty($selectSql)%>
  <div class="container" style="margin-top: 20px">
  <table class="table table-bordered table-hover"  >
    <tr>
      <th>DEVID</th>
      <th>棚</th>
      <th>栏</th>
      <th>时间</th>
      <th>标志</th>
      <th>状态</th>
      <th>RID</th>
      <th>AGE</th>
    </tr>
    <%foreach $selectSql as $value%>
    <tr>
      <td><%$value['devid']%>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<%$smarty.const.__APP__%>/value/temp?devid=<%$value['devid']%>">查看温度</a></td>
      <td><%$value['shed']%></td>
      <td><%$value['column']%></td>
      <td><%$value['time']%></td>
      <td><%$value['flag']%></td>
      <td><%$value['state']%></td>
      <td><%$value['rid']%></td>
      <td><%$value['age']%></td>
    </tr>
    <%/foreach%>
  </table>
  </div>
     <%/if%>
     </div>
</div>

<div class="weui-tabbar">
  <a href="<%$smarty.const.__APP__%>/devselect/select" class="weui-tabbar__item ">

    <div class="weui-tabbar__icon">
      <img src="<%$smarty.const.IMG_URL%>/icon_nav_button.png" alt="">
    </div>
    <p class="weui-tabbar__label">首页</p>
  </a>
  <a href="<%$smarty.const.__APP__%>/add/deviceTab" class="weui-tabbar__item weui-bar__item--on">
    <div class="weui-tabbar__icon">
      <img src="<%$smarty.const.IMG_URL%>/icon_nav_msg.png" alt="">
    </div>
    <p class="weui-tabbar__label">设备</p>
  </a>
  <a href="<%$smarty.const.__APP__%>/acadd/acTab" class="weui-tabbar__item">
    <div class="weui-tabbar__icon">
      <img src="<%$smarty.const.IMG_URL%>/icon_nav_article.png" alt="">
    </div>
    <p class="weui-tabbar__label">查询</p>
  </a>
  <a href="<%$smarty.const.__APP__%>/mine/mineTab" class="weui-tabbar__item">
    <div class="weui-tabbar__icon">
      <img src="<%$smarty.const.IMG_URL%>/icon_nav_cell.png" alt="">
    </div>
    <p class="weui-tabbar__label">我的</p>
  </a>
</div>


</body>
</html>